# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Nix files
[*.nix]
indent_style = space
indent_size = 2

# Shell scripts
[*.{sh,bash,zsh}]
indent_style = space
indent_size = 4
binary_next_line = true
switch_case_indent = true
space_redirects = true
keep_padding = false
function_next_line = false

# Markdown files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab
